<nz-page-header class="bg-white pb-1 pr-4 pt-4">
  <nz-page-header-title>
    <span>
      <span nz-icon nzType="reconciliation" nzTheme="outline"></span>
      <span class="ml-2">Plants List</span>
    </span>
  </nz-page-header-title>
  <nz-page-header-extra class="flex w-2/3 justify-end">
    <nz-button-group class="w-2/3">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          nz-input
          type="text"
          name="searchText"
          autocomplete="off"
          [(ngModel)]="searchText"
          placeholder="search plants by name..."
          (input)="onSearch($event)" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </nz-button-group>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-table
      #filterTable
      [nzData]="plants"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="paginartionInfo.totalRows"
      [nzPageSize]="paginartionInfo.currentPageSize"
      [nzPageIndex]="paginartionInfo.currentPageNumber"
      (nzQueryParams)="onQueryParamsChange($event)"
      nzTableLayout="fixed">
      <thead>
        <tr>
          <th
            nzColumnKey="name"
            [nzSortFn]="true"
            [nzSortDirections]="['ascend', 'descend']"
            nzSortOrder="ascend">
            Name
          </th>
          <th nzColumnKey="plantId">Plant ID</th>
          <th nzColumnKey="utilityCompany">Utility Company</th>
          <th
            nzColumnKey="status"
            [nzSortFn]="true"
            [nzSortDirections]="['ascend', 'descend']">
            Status
          </th>
          <th nzColumnKey="tags">Tags</th>
          <th nzColumnKey="capacityDc">Capacity DC</th>
          <th nzColumnKey="portfolios">Portfolios</th>
          <th class="w-28">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (data of filterTable.data; track data.id) {
          <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.plantId }}</td>
            <td>{{ data.utilityCompany }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.tags }}</td>
            <td>{{ data.capacityDc }}</td>
            <td>{{ data.portfolios.join(', ') }}</td>
            <td>
              <div class="flex justify-around">
                <button
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  (click)="onRowEdit(data)">
                  <span nz-icon nzType="edit"></span>
                </button>
                <button nz-button nzType="primary" nzShape="circle" nzDanger>
                  <span nz-icon nzType="delete"></span>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>
<app-plant-drawer
  [drawerVisible]="drawerVisible"
  [plant]="drawerPlant"
  (drawerClosed)="onCancelDrawer()">
</app-plant-drawer>
