<nz-page-header style="padding: 16px 16px 2px; background-color: white">
  <nz-page-header-title>
    <span>
      <span nz-icon nzType="reconciliation" nzTheme="outline"></span>
      <span class="ml-2">Plants List</span>
    </span>
  </nz-page-header-title>
  <nz-page-header-extra class="flex w-2/3 justify-end">
    <nz-button-group class="w-2/3">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          type="text"
          [(ngModel)]="searchText"
          nz-input
          placeholder="search plants..."
          (input)="onSearch($event)" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </nz-button-group>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-table
      #filterTable
      [nzData]="plants"
      [nzLoading]="loading"
      nzTableLayout="fixed">
      <thead>
        <tr>
          @for (column of columnsDef; track column.name) {
            <!-- <th
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
              >
              {{ column.name }}
            </th> -->
            <th>
              {{ column.name }}
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of filterTable.data; track data.id) {
          <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.plantId }}</td>
            <td>{{ data.utilityCompany }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.tags }}</td>
            <td>{{ data.capacityDc }}</td>
            <td>{{ data.portfolios }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>
