<div class="mt-40 flex flex-col items-center">
  <div class="flex flex-row">
    <div class="flex flex-col gap-2 gap-x-24">
      <!-- PLants -->
      <app-dashboard-card
        label="Plants"
        colorClass="bg-blue-500"
        [value]="this.dashboardData.plants.toString()"
        icon="appstore" />
      <!-- Total Capacity -->
      <app-dashboard-card
        colorClass="bg-green-500"
        label="Total Capacity"
        [value]="this.totalCapacity + ' MW'"
        icon="thunderbolt" />
      <!-- Locations -->
      <app-dashboard-card
        colorClass="bg-yellow-500"
        label="Locations"
        [value]="this.dashboardData.locations.toString()"
        icon="environment" />
    </div>

    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
      ">
      <canvas id="PowerChart"></canvas>
    </div>
  </div>
  <div
    style="
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 10px;
      margin-top: 30px;
    "></div>
</div>
