<nz-page-header style="padding: 16px; background-color: white">
  <nz-page-header-title>
    <span>
      <span nz-icon nzType="reconciliation" nzTheme="outline"></span>
      <span style="margin-left: 8px">Open Tasks</span>
    </span>
  </nz-page-header-title>
  <!--  <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle>-->
  <nz-page-header-extra>
    <nz-button-group>
      <button nz-button style="padding-right: 8px">
        Next 7 days
        <nz-badge
          nzStandalone
          [nzCount]="5"
          [nzStyle]="{
            backgroundColor: '#40a9ff',
            color: '#fff'
          }"
          style="margin-bottom: 4px; margin-left: 8px"></nz-badge>
      </button>
      <button nz-button style="padding-right: 8px">
        Next 30 days
        <nz-badge
          nzStandalone
          [nzCount]="2"
          [nzStyle]="{
            backgroundColor: '#40a9ff',
            color: '#fff'
          }"
          style="margin-bottom: 4px; margin-left: 8px"></nz-badge>
      </button>
      <button nz-button style="padding-right: 8px">
        Overdue
        <nz-badge
          nzStandalone
          [nzCount]="0"
          [nzShowZero]="true"
          [nzStyle]="{
            backgroundColor: '#40a9ff',
            color: '#fff'
          }"
          style="margin-bottom: 4px; margin-left: 8px"></nz-badge>
      </button>
    </nz-button-group>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
      <thead>
        <tr>
          @for (column of listOfColumns; track column.name) {
            <th
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn">
              {{ column.name }}
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of filterTable.data; track data.id) {
          <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>
